@import '../../styles/_variables';

.box-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 150px;
}

.box-frame {
  border: 6px solid lighten($grey-dark, 20%);
  height: 300px;
  margin: 20px;
  width: 40%;
}
